@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Domine&display=swap');
* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
body{
  margin: 0;
    font-family: 'Domine', serif;
    letter-spacing: 1.7px
}
h1,h2,h3,h4,h5,h6,h7{
font-family: 'Lobster', cursive;
letter-spacing: 1.5px    
}
.header {
  height: 60px;
}
.header .contenedor {
  display: flex;
  justify-content: space-between;
}
.logo, .icon-menu {
  margin: 5px;
  
}
.icon-menu {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 30px;
  background: #000000;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  margin-left: auto;
  cursor: pointer;
}

.nav {
  position: absolute;
  top: 60px;
  left: -100%;
  width: 100%;
  transition: all 0.4s;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__link {
  display: block;
  padding: 15px;
  background: #d049e1;
  text-decoration: none;
  color: #000000;
}
.menu__link:hover, .select {
  background: #FF8C00;
  color: #000000;
}
.mostrar {
  left: 0;
}
.banner {
  margin-top: -60px;
  position: relative;
  z-index: -1000;
  margin-bottom: 20px;
}

.banner .contenedor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  color: #000000;
  text-align: center;
}

.banner__txt {
  display: none;
}
*/
.info__columna {
  background: #000000;
  color: black;
  padding: 15px;
  margin-bottom: 30px;
}


@media(min-width:480px) {
  .logo {
    font-size: 40px;
  }
  .banner__titulo {
    font-size: 30px;
    margin: 5px 0;
  }
  .banner__txt {
    display: block;
    font-size: 18px;
    margin: 7px 0;
  }
  .info, .temas {
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
  }
  .info__columna {
    width: 32%;
  }
  .info__titulo {
    font-size: 30px;
    margin: 5px 0;
  }
  .section__titulo {
    width: 100%;
  }
  .temas {
    flex-wrap: wrap;
    margin-top: 0;
  }
  .temas__columna {
    width: 49%;
  }
 
}
@media(min-width:768px) {  
  .banner__titulo {
    font-size: 50px;
  }
  .temas__titulo {
    font-size: 40px;
  }
}

@media(min-width:1024px) {  
  .contenedor {
    width: 1000px;
  }
  .section__titulo {
    font-size: 50px;
    margin: 30px 0;
  }
  .nav {
    position: static;
    width: auto;
  }
  .menu {
    display: flex;
  }
  .icon-menu {
    display: none;
  }
  .menu__link {
    background: none;
    font-size: 20px;
  }
  .select {
    color: #fff;
    background: #FBA919;
  }
  .banner__titulo {
    font-size: 60px;
  }
  .banner__txt {
    font-size: 25px;
  }
  .info {
    margin-top: -120px;
  }
  .info__columna {
    padding: 30px;
  }
  .info__titulo {
    font-size: 40px;
    text-align: center;
  }
  .temas__descripcion {
    padding: 20px;
  }
  .temas__titulo {
    font-size: 50px;
  }
  .temas__txt {
    font-size: 20px;
  }
}

@media(min-width:1280px) {
  .contenedor {
    width: 1200px;
  }
  .logo {
    font-size: 60px;
  }
  .banner .contenedor {
    top: 40%;
  }
  .info {
    margin-top: -90px;
  }
}